<!DOCTYPE HTML>
<html lang="ru-ru">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

    <h1>{{ blog.getTitle() }}</h1>

    <p>{{ blog.getBody() }}</p>

    <hr/>
    <small>Запись создана {{ blog.getCreatedDate().format("Y-m-d H:i:s") }}</small>


</body>
</html>